### Introducción a Python
- [Bibliografía](https://codeinplace2020.github.io/pythonreader/en/intro/)

In [2]:
print('Hola mundo')

Hola mundo

---
### Strings (cadenas): `str`

In [18]:
mi_variable = 'Hola'

In [19]:
print(mi_variable)

Hola

In [20]:
mi_cadena = '5'

In [21]:
print(mi_cadena)

5

---
### Integeers (números enteros): `int`

In [9]:
uno = 1
dos = 2
tres = 3

In [12]:
print(uno, dos, tres)

1 2 3

---
### Floats (números con decimales): `float`

In [14]:
flotante = 1.5

In [15]:
print(flotante)

1.5

---
### Asignar variables

In [62]:
a, b, c = 1, 2, 3

In [63]:
print(a, b, c)

1 2 3

---
### Operaciones aritméticas

### Suma (+)

In [64]:
mi_suma = a + a

In [65]:
print(mi_suma)

2

### Resta (-)

In [66]:
mi_resta = b - a

In [67]:
print(mi_resta)

1

### División (/)

In [68]:
mi_division = c / b

In [69]:
print(mi_division)

1.5

### Multiplicación (*)

In [70]:
mi_multiplicacion = b * 4

In [71]:
print(mi_multiplicacion)

8

### Módulo (%)

In [72]:
# Calcular el remanente de la división entre ambos números
mi_remanente = 5 % 2
mi_remanente

1

### Exponente (**)

In [73]:
# Elevar un número al cuadrado
2 ** 2

4

In [74]:
# Elevar un número al cubo
2 ** 3

8

---
### Concatenar cadenas

In [75]:
cadena1 = 'Hola'
cadena2 = 'mundo'

In [76]:
print(cadena1 + cadena2)

Holamundo

In [77]:
cadena3 = cadena1 + ' ' + cadena2

In [78]:
print(cadena3)

Hola mundo

---
### Listas

In [79]:
mi_lista = []

In [80]:
mi_lista

[]

In [81]:
numeros = [1, 2, 3, 4, 5]

In [82]:
numeros

[1, 2, 3, 4, 5]

In [83]:
# Los elementos de una lista pueden accederse mediante su índice
# El índice 0 siempre será el primer elemento
numeros[0]

1

In [84]:
numeros[1]

2

In [85]:
# También pueden usarse índices negativos
# El índice -1 siempre será el último elemento.
numeros[-1]

5

### Métodos para listas

### `append()`

In [86]:
# Agrega un elemento al final de una lista
numeros.append(6)

In [87]:
numeros

[1, 2, 3, 4, 5, 6]

In [88]:
numeros[-1]

6

### `sort()`

In [130]:
lista_desordenada = [4, 3, 5, 1, 2]

In [132]:
lista_desordenada.sort()

In [133]:
lista_desordenada

[1, 2, 3, 4, 5]

### [Más ejemplos de métodos para listas](https://www.w3schools.com/python/python_ref_list.asp)

### Operaciones slice en listas

In [139]:
# lista[inicio:fin]
lista_cortada = numeros[0:3]

In [138]:
lista_cortada

[1, 2, 3]

In [140]:
# Desde el inicio hasta el tercer elemento
lista_cortada2 = numeros[:3]

In [141]:
lista_cortada2

[1, 2, 3]

In [143]:
# Desde el tercer elemento hasta el final
lista_cortada3 = numeros[3:]

In [144]:
lista_cortada3

[4, 5, 6]

---
### Función `type()`: clasifica tipos de variables

In [147]:
var_cadena = 'Hola'
type(var_cadena)

str

In [148]:
var_entero = 1
type(var_entero)

int

In [149]:
var_flotante = 1.5
type(var_flotante)

float

In [150]:
mi_lista = []
type(mi_lista)

list

---
### Función `len()`:  devuelve la longitud de un objeto

In [151]:
numeros = [1, 2, 3]
len(numeros)

3

In [152]:
# Cuenta caracteres en la cadena
cadena = 'Hola mundo'
len(cadena)

10

---
### Métodos  para cadenas

In [154]:
var = 'Fernanda'
print(var)

Fernanda

In [155]:
# Convierte a minúsculas
var.lower()

'fernanda'

In [156]:
var = 'PATRICIA'
print(var)

PATRICIA

In [157]:
# Convierte el primer caracter en mayúscula
var.title()

'Patricia'

In [158]:
var = 'gibran'
print(var)

gibran

In [159]:
# Convierte a mayúsculas
var.upper()

'GIBRAN'

### [Más ejemplos de métodos para cadenas](https://www.w3schools.com/python/python_ref_string.asp)
---
### Bucles con `for`: iterar sobre una secuencia (lista, diccionario, tupla, conjunto o cadena).

In [103]:
data_critica = ['pati', 'gibs', 'fer']

In [164]:
# Ejemplo iterando en los elementos de una lista
for x in data_critica:
    print(x)

pati
gibs
fer

### Función `range()`

In [161]:
"""
Devuelve una secuencia de números que comienza en 0, 
incrementa en 1 (por defecto) y se detiene antes de 
un número especificado
"""
for x in range(5):
    print(x)

0
1
2
3
4

In [162]:
# Inicia en 0 y se detiene antes de 3
for x in range(3):
    print(x)

0
1
2

In [163]:
# Inicia en 2 y se detiene antes de 10
for x in range(2, 10):
    print(x)

2
3
4
5
6
7
8
9

### `range(inicio, tope, incremento)`

In [108]:
# Inicia en 0, se detiene antes de 10 e incrementa en 4
for x in range(0, 10, 4):
    print(x)

0
4
8

In [109]:
# Inicia en 0, se de tiene antes de 20 e incrementa en 5
for x in range(0, 20, 5):
    print(x)

0
5
10
15

In [110]:
# Inicia en 0, se detiene antes de 1001 e incrementa en 10
for x in range(0, 101, 10):
    print(x)

0
10
20
30
40
50
60
70
80
90
100